@charset "UTF-8";

/*generic styles*/
html{
	background: #CDDDC2;
	height: 100%;
	width: 100%
}

body{
	padding: 0 20px 20px 20px; 
	background: #FFF; 
	font:small "arial," arial narrow, times new roman;
	text-align:left;
	height: auto;
	width:785px;
	margin:0 auto;
	}
a {
	text-decoration:underline;
	color:#028123;
	}
a img {
	border:0;
	}
p{
	margin:0 0 1em;
	text-align:left;
	}
table {
	width: 430px;
	}
table td{
	vertical-align: top;
	text-align: left;
	border-collapse:collapse;
	border-top:1px solid green;
	}
table.small {
	width:200px;
	}
table.float {
	float:left;
	}
h1{
	color:#028123;
	font-size:2em;
	font: "arial", Cambria;
	}
h2{
	color:#028123;
	font-size:1.4em;
	}
h3{
	color:#028123;
	font-size:1.4em;
	}
/*end generic styles*/
 

#header{
	width:785px;
	height:90px;
	background-color:;
	}
#logo{
	vertical-align:text-top;
	margin-left:0px;
	width:180px;
	height:80px;
	float:left;
	}
#header h1{
	padding: 1em 0 0 190px;
	letter-spacing:1.25px;
	font-size:2.5em;
	color:#028123;
	}
#logout{
	vertical-align:text-top;
	float:right;
	width:100px;
	font-size:x-small;
	color:#028123;
	}
#logout a {
	color: #028123;
	text-decoration:none;
	font-weight:bold;	
	font-size:medium;
	}
#logout a:hover {
	text-decoration:underline;
	}
#space {
	padding:0 0 3.5em 0;
	}
#body_nav{
	width:100%;
	margin: 0 0 0 0px;
	float:left;
	}

#main_nav li{
	display: inline; 
	list-style:none;
	}
.nav{/*between classes nav*/
	font-size:18px;
	font-variant: small-caps;
	}
.nav a{ /*a means link*/
	font-size:1em;
	color:#FFF;
	text-decoration:none;
	padding:1em 1em 1em 1em;
	letter-spacing:1.75px;
	height: 2em;
	width: auto;
	background-color:#028123;
	margin: .2em .2em .2em .2em;
	text-decoration: none;
	-moz-box-shadow: 2px -2px 7px #000;
	-webkit-box-shadow: 2px -2px 7px #000;
	box-shadow: 2px -2px 7px #000;
	}
.nav a:hover {
	font-size:1em;
	color: #028123;
	background-color:#CDDDC2;
	text-decoration:none;
	padding:1em 1em 1em 1em;
	font-weight:bold;	
	letter-spacing:1.75px;
	-moz-box-shadow: 1px -1px 5px #84D24A;
	-webkit-box-shadow: 1px -1px 5px #84D24A;
	box-shadow: 1px -1px 5px #84D24A;
	}
table a{
	color: forestgreen;
	font-weight: bold;
	text-decoration:none;
	text-transform: uppercase;
	background-color:#CDDDC2;
	border:1px forestgreen ridge;
}
.square{
	color: forestgreen;
	font-weight: bold;
	text-decoration:none;
	text-transform: uppercase;
	background-color:#CDDDC2;
	border:1px forestgreen ridge;
	}
h2 a{
	color: forestgreen;
	font-weight: bold;
	text-decoration:none;
	text-transform: uppercase;
	background-color:#CDDDC2;
	border:1px forestgreen ridge;
}
#map_canvas  {
	width: 350px;
	height: 350px;
	}
#addproject_number_errorloc{
	color: red;
	}
#add_district_errorloc{
	color: red;
	}
#add_HHLDsize_errorloc{
	color: red;
	}
#add_young_errorloc{
	color: red;
	}
#add_old_errorloc{
	color: red;
	}
#add_dependents_errorloc{
	color: red;
	}
#add_HOHage_errorloc{
	color: red;
	}
#add_project_id_errorloc{
	color: red;
	}
#adduser_role_errorloc{
	color: red;
	}
