@charset "UTF-8";

/*generic styles*/
body{
	margin:0; padding: 0; background: ; 
	color:# ; 
	font:small "arial narrow," arial, times new roman;
	text-align:left;
	}
a{
	text-decoration:none;
	color:#032631;
	}
a img {
	border:0;
	}
p a{
	text-decoration:underline;
}
p{
	margin:0 0 1em;
	text-align:left;
	}
table {
	width: 90%;
	}
table td{
	vertical-align: top;
	text-align: left;
	}
table.small {
	width:50%;
	}
table.float {
	width: 110%;
	float:left;
	}
h1{
	color:#000;
	font-size:2em;
	}
h2{
	color:#333366;
	font-size:1.4em;
	}
h3{
	text-align:center; 
	background-color:#FFF;
	color:#333366;
	font-variant: small-caps;
	}
/*end generic styles*/
 
#home {
	width:785px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	}
#homewide {
	width: 800px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	}
#header{
	width:100%;
	height:90px;
	background-color:#000;
	}
#logo{
	vertical-align:text-top;
	margin-left:5px;
	width:80px;
	height:80px;
	float:left;
	}
#header h1{
	padding: 1em 0 0 0;
	letter-spacing:1.25px;
	font-size:x-large;
	color:#FFF;
	}
#logout{
	vertical-align:text-top;
	float:right;
	width:100px;
	font-size:x-small;
	color:#FFF;
	}
#logout a {
	color: #FFF;
	text-decoration:none;
	font-weight:bold;	
	font-size:small;
	}
#space {
	padding:0 0 2.5em 0;
	}
#body_nav{
	width:100%;
	margin: 0 0 0 0px;
	float:left;
	background-color:#000;
	}
#main_nav li{
	display: inline; 
	list-style:none;
	}
.nav{/*between classes nav*/
	font-size:18px;
	font-variant: small-caps;
	}
.nav a{ /*a means link*/
	font-size:15px;
	color:#FFF;
	text-decoration:none;
	padding:1.25em 1.25em 1.25em 1.25em;
	letter-spacing:1.75px;
	height: 28px;
	width: 95px;
	background-color:#29923f;
	margin: 0px 2px 0px 2px;
	text-decoration: none;
	-moz-box-shadow: 2px -2px 7px #000;
	-webkit-box-shadow: 2px -2px 7px #000;
	box-shadow: 2px -2px 7px #000;
	}
.nav a:hover {
	font-size:15px;
	color:#032631;
	background-color:#FFF;
	text-decoration:none;
	padding:1.25em 1.25em 1.25em 1.25em;
	font-weight:bold;	
	letter-spacing:1.75px;
	-moz-box-shadow: 1px -1px 5px #84D24A;
	-webkit-box-shadow: 1px -1px 5px #84D24A;
	box-shadow: 1px -1px 5px #84D24A;
	}

#map_canvas  {
	width: 350px;
	height: 350px;
	}


	
