@charset "UTF-8";

/*generic styles*/
html{
	background: #CDDDC2;
}

body{
	background: #FFF; 
	font:small "arial," verdana, times new roman;
	width: 785px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px 20px 20px;
	}
a {
	text-decoration:underline;
	color:#028123;
	}
a img {
	border:0;
	}
p{
	margin:0 0 1em;
	text-align:left;
	}
table tr {
	border-top: 1px solid green;
}
table td{
	vertical-align: top;
	text-align: left;
	border-collapse:collapse;
	}
table.small {
	width:200px;
	}
table.float {
	float:left;
	}
h1{
	color:#028123;
	font-size:2em;
	}
h2{
	color:#028123;
	font-size:1.4em;
	}
h3{
	color:#028123;
	font-size:1.4em;
	}
/*end generic styles*/
 

#header{
	position: relative;
	width:785px;
	height:90px;
	margin: 0px 0px 3.5em 0px;
	}
#logo{
	vertical-align:text-top;
	margin-left:0px;
	width:180px;
	height:80px;
	float:left;
	position: relative;
	display: inline;
	}
#header h1{
	position: relative;
	float: left;
	display: inline;
	letter-spacing:1.25px;
	font-size:2.5em;
	color:#028123;
	}
#logout{
	vertical-align:text-top;
	position: relative;
	float: right;
	clear: right;
	display: inline;
	width: 100px;
	font-size:x-small;
	color:#028123;
	padding: 10px 0px 0px 0px;
	}
#logout a {
	color: #028123;
	text-decoration:none;
	font-weight:bold;	
	font-size:medium;
	}
#logout a:hover {
	text-decoration:underline;
	}
#body_nav{
	width:100%;
	margin: 0 0 0 0px;
	float:left;
	}

#main_nav li{
	display: inline; 
	list-style:none;
	margin: .2em .2em .2em .2em;
	}
.nav{/*between classes nav*/
	font-variant: small-caps;
	}
.nav a{ /*a means link*/
	font-size:1.3em;
	color:#FFF;
	text-decoration:none;
	padding:.8em .8em .8em .8em;
	letter-spacing:1.75px;
	height: 2em;
	background-color:#028123;
	text-decoration: none;
	-moz-box-shadow: 2px -2px 7px #000;
	-webkit-box-shadow: 2px -2px 7px #000;
	-o-box-shadow: 2px -2px 7px #000;
	box-shadow: 2px -2px 7px #000;
	}
.nav a:hover {
	font-size:1.3em;
	color: #028123;
	background-color:#CDDDC2;
	text-decoration:none;
	letter-spacing:1.75px;
	-moz-box-shadow: 1px -1px 5px #84D24A;
	-webkit-box-shadow: 1px -1px 5px #84D24A;
	-o-box-shadow: 2px -2px 7px #000;
	box-shadow: 1px -1px 5px #84D24A;
	}
table a{
	color: forestgreen;
	font-weight: bold;
	text-decoration:none;
	border:none;
}
table a:hover{
	color: forestgreen;
	font-weight: bold;
	text-decoration:none;
	border:1px forestgreen ridge;
}
#map_canvas  {
	width: 350px;
	height: 350px;
	}
#addproject_number_errorloc{
	color: red;
	}
#add_district_errorloc{
	color: red;
	}
#add_HHLDsize_errorloc{
	color: red;
	}
#add_young_errorloc{
	color: red;
	}
#add_old_errorloc{
	color: red;
	}
#add_dependents_errorloc{
	color: red;
	}
#add_HOHage_errorloc{
	color: red;
	}
#add_project_id_errorloc{
	color: red;
	}
#adduser_role_errorloc{
	color: red;
	}
